<label for='name'>Name: </label>
<input id='name' type='text' [formControl]='name' />
<p>Value: {{name.value}}</p>
<p>
  <button (click)='updateName()'>Update name</button>
</p>

<form [formGroup]='profileForm' (ngSubmit)='onSubmit()'>
  <label for='first-name'>First Name:</label>
  <input type='text' id='first-name' formControlName='firstName' />
  <label for='last-name'>Last Name:</label>
  <input type='text' id='last-name' formControlName='lastName' />
  <button type='submit' [disabled]='!profileForm.valid'>Submit</button>
</form>
