<div [hidden]='submitted'>
  <p>{{model | json}}</p>
  <form #petForm='ngForm' (ngSubmit)='onSubmit()'>
    <div>
      <label for='name'>Name</label>
      <input type='text' id='name' required [(ngModel)]='model.name' name='name' />
    </div>
    <div>
      <label for='specie'>specie</label>
      <select id='specie' required [(ngModel)]='model.specie' name='specie'>
        <option *ngFor='let specie of species' [value]='specie'>{{specie}}</option>
      </select>
    </div>
    <button [disabled]='!petForm.form.valid' type='submit'>Submit</button>
  </form>
</div>

<div [hidden]='!submitted'>
  <h2>You submitted!</h2>
  <p>Name: {{model.name}}</p>
</div>
