<!--<form>-->
<!--  <input type='text' name='name' required minlength='4' [(ngModel)]='nameInput' #name='ngModel' />-->
<!--  <div *ngIf='name.invalid && (name.dirty || name.touched)'>-->
<!--    <div *ngIf='name.errors!["required"]'>-->
<!--      Name is required.-->
<!--    </div>-->
<!--    <div *ngIf='name.errors!["minlength"]'>-->
<!--      Name must be at least 4 characters long.-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->

<form [formGroup]='validationForm'>
  <input type='text' name='name' required minlength='4' formControlName='name' />
  <div *ngIf='name.invalid && (name.dirty || name.touched)'>
    <div *ngIf='name?.errors!["required"]'>
      Name is required.
    </div>
    <div *ngIf='name?.errors!["minlength"]'>
      Name must be at least 4 characters long.
    </div>
  </div>
</form>
